@model IEnumerable<GreenToys.Models.MembershipType>
@using GreenToys.Models
@{
    ViewBag.Title = "Index";
}
<h3 style="font-family:cursive;text-transform:capitalize;">Membership types</h3>
<br/>
<p>
    @Html.Partial("_CreateButtonPartial")
</p>


<br />
<div style="float:left;">
    <form method="get" action="/MembershipType/Index">
        <b>Search by membership type:</b><br />
        <p>
            <input type="text" value="" name="name" placeholder="Filter By membership type" autocomplete="off" />
            <input type="submit" value="search" class="btn btn-xs btn-primary" />
        </p>

    </form>
</div>
<br />

<table class="table table-condensed table-hover">
    <tr class="table-header">
        <th>
            @Html.DisplayNameFor(model => model.MembershipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargeRateForOneMonth)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargeRateForOneMonth)
        </td>
        <td>
            @Html.Partial("_EditDetailsDeleteButtonPartial",new IndividualButtonPartial {
           MembershipTypeID=item.MembershipTypeID
       })
        </td>
    </tr>
}

</table>
